<div class="main-container">
    <div class="content bg-content">
        <div class="content-header">
            <h2>As próximas etapas do nosso trabalho</h2>
        </div>
        <div class="content-section todo-list">
            <ul>
                <li>Cálculos da possível redução de emissão de gases tóxicos</li>
                <li>Calculadora em tempo real no site da pesquisa</li>
                <li>Banco de dados do site</li>
                <li>Mapa interativo com pontos de carregamento</li>
            </ul>
        </div>
    </div>
</div>