<div class="main-container">
    <div class="content bg-content">
        <div class="content-header">
            <h2>As próximas etapas do nosso trabalho</h2>
        </div>
        <div class="content-section todo-list">
            <ul>
                <li>Cálculos da possível redução de emissão de gases tóxicos</li>
                <li>Calculadora em tempo real no site da pesquisa</li>
                <li>Banco de dados do site</li>
                <li>Mapa interativo com pontos de carregamento</li>
                <li>Disponibilização do infográfico</li>
                <li>Analisar se a pesquisa atende aos itens 3, 7 e 11 da ODS 2030</li>
                <li>Publicação da pesquisa</li>
            </ul>
        </div>

        <div class="ods-img-container">
            <img [src]="odsImage" alt="">
            <p>Fonte: <a href="http://www.agenda2030.com.br/">Agenda 2030</a></p>
        </div>
    </div>
</div>