    <nav class="bg-secondary">
        <div class="menu">
            <div class="right-panel">
                <ul>
                    <li><a href="./index.html" class="active"><i class="fab fa-instagram fa-2x"></i></a></li>
                    <li><a href="#" target=""><i class="fab fa-facebook fa-2x"></i></a></li>
                    <li><a href="#" target=""><i class="fab fa-twitter fa-2x"></i></a></li>
                </ul>
            </div>
            <div class="left-panel">
                <ul>
                    <li><a routerLink="" routerLinkActive="router-link-active"  class="active">Home</a></li>
                    <li><a routerLink="/about">A equipe</a></li>
                    <li><a routerLink="/contact" class="active">Contato</a></li>
                    <li><a routerLink="/todo" class="active">Próximos passos</a></li>
                </ul>
            </div>
        </div>
    </nav>