<div class="main-container">
    <div class="content bg-content">
        <div class="content-header">
            <h3>Contate-nos!</h3>
        </div>
        <div class="content-section form">
            <form class="bg-light font-secondary" class="new-form">
                <fieldset>
                    <input class="input-textos" type="text" id="nome" placeholder="Nome" class="nome" required>
                </fieldset>
                <fieldset>
                    <input class="input-textos" type="email" id="email" placeholder="E-mail" class="email" required>
                </fieldset>
                <fieldset>
                    <input class="input-textos" type="tel" id="celular" placeholder="Telefone" class="celular" required>
                </fieldset>
                <fieldset>
                    <textarea ig="mensagem" placeholder="Escreva uma sugestão" reiz></textarea>
                </fieldset>
                <fieldset>
                    <button type="submit" class="btn-submit bg-primary font-secondary">Enviar e-mail!</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>