<header>

    <div class="header-wrapper">
        <div class="header-info-wrapper">
            <div class="header-info">
                <div class="info-content">

                    <h1></h1>
                    <h2></h2>
                    <p>Mobilidade elétrica - Um estudo e uma iniciativa FIAP
                    </p>

                </div>
            </div>

            <div class="header-banner index">
                <img class="img-banner" [src]="logoImage" alt="Alt-Worker">
            </div>
        </div>
    </div>

</header>

<div class="calculator">
    <p class="warning">CALCULADORA EM CONSTRUÇÃO - CÁLCULO NÃO APRESENTA RESULTADO REAL</p>
    <h3>Calcule o quanto a sua frota pode ajudar a reduzir a poluição!</h3>

    <label for="qtdVeiculos">Veículos na frota:</label>
    <input min="0" type="number" name="qtdVeiculos" [(ngModel)]="quantidadeVeiculos" (ngModelChange)="calcular()">
    <p>Poderia reduzir a poluição em {{resultado}}%!</p>
</div>

<div class="container">

    <section class="info up">
        <div class="card-info bg-light font-primary">
            <h2>Nossa motivação</h2>
            <p>
                Nos últimos anos, vimos e ouvimos constantemente o problema da poluição ser abordado em diferentes mídias, estudos e discussões. Além de nocivo ao meio ambiente, os gases também são responsáveis por causar doenças nas pessoas mais expostas a essas toxinas. O objetivo desse estudo é avaliar a eletrificação do transporte como alternativa para ajudar a combater esses problemas.
            </p>
        </div>
        <div class="img-info img-right">
            <div class="content index">Fonte: <a href="https://www.change.org/p/minist%C3%A9rio-do-meio-ambiente-tornar-obrigat%C3%B3ria-a-avalia%C3%A7%C3%A3o-de-emiss%C3%A3o-de-poluentes-dos-ve%C3%ADculos">Change.org</a></div>
        </div>
    </section>
    <section class="info down">
        <div class="img-info img-left bg-secondary">
            <div class="content index">Fonte: <a href="https://revistagalileu.globo.com/Revista/Common/0,,EMI322726-17579,00-O+QUE+FALTA+PARA+O+CARRO+ELETRICO+PEGAR.html">Revista Galileu</a></div>
        </div>
        <div class="card-info bg-light font-primary">
            <h2>Metodologia</h2>
            <p>
                Com base nos dados de artigos de teor científico, estamos fazendo uma pesquisa quantitativa e qualitativa de como a implantação da mobilidade elétrica poderia colaborar para solucionar o problema que estamos abordando.
            </p>
            
        </div>
    </section>
</div>
<section class="column-container bg-secondary">
    <h3 class="text-centered">Quem somos?</h3>
    <div class="squad-block">
        <div class="member-container text-centered">
            <div class="member-name">
                <p>
                    Rafael Martins Ronqui
                </p>
            </div>
            <div class="member-photo ronqui">
            </div>
            <div class="member-function">
                <p>
                    Orientador
                </p>
            </div>
            <div class="member-contact">
                <a href="" class="font-primary">e-mail@email.com</a>
            </div>
        </div>
        <div class="member-container text-centered">
            <div class="member-name">
                <p>
                    Helouíse Itokazo
                </p>
            </div>
            <div class="member-photo helouise">
            </div>
            <div class="member-function"></div>
            <div class="member-contact">
                <a href="" class="font-primary">e-mail@email.com</a>
            </div>
        </div>
        <div class="member-container text-centered">
            <div class="member-name">
                <p>
                    Gabriel Garcia Pereira
                </p>
            </div>
            <div class="member-photo gabriel">
            </div>
            <div class="member-function">
                <p></p>
            </div>
            <div class="member-contact"><a href="" class="font-primary">e-mail@email.com</a></div>
        </div>
    </div>
    <div class="squad-block">
        <div class="member-container text-centered">
            <div class="member-name">
                <p>Caio Poppi</p>
            </div>
            <div class="member-photo caio">
            </div>
            <div class="member-function">
                <p></p>
            </div>
            <div class="member-contact"><a href="" class="font-primary">e-mail@email.com</a></div>
        </div>
        <div class="member-container text-centered">
            <div class="member-name">
                <p>
                    Leonardo
                </p>
            </div>
            <div class="member-photo leonardo">
            </div>
            <div class="member-function">
                <p></p>
            </div>
            <div class="member-contact">
                <a href="" class="font-primary">e-mail@email.com</a>
            </div>
        </div>
        <div class="member-container text-centered">
            <div class="member-name">
                <p>Mateus</p>
            </div>
            <div class="member-photo mateus">
            </div>
            <div class="member-function">
                <p></p>
            </div>
            <div class="member-contact">
                <a href="" class="font-primary">e-mail@email.com</a>
            </div>
        </div>
    </div>
</section>