<header>

    <div class="header-wrapper">
        <div class="header-info-wrapper">
            <div class="header-info">
                <div class="info-content">

                    <h1></h1>
                    <h2></h2>
                    <p>Mobilidade elétrica - Um estudo e uma iniciativa FIAP
                    </p>

                </div>
            </div>

            <div class="header-banner index">

                <img class="img-banner" alt="Alt-Worker">
                <svg class="components-menu-svg" viewBox="0 0 574.206 155.976">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo-fiap"></use>
                </svg>
            </div>
        </div>
    </div>

</header>
<div class="container">

    <section class="info up">
        <div class="card-info bg-light font-primary">
            <h2>Nossa motivação</h2>
            <p>
                Nos últimos anos, vimos e ouvimos constantemente o problema da poluição ser abordado em diferentes mídias, estudos e discussões. Além de nocivo ao meio ambiente, os gases também são responsáveis por causar doenças nas pessoas mais expostas a essas toxinas. O objetivo desse estudo é avaliar a eletrificação do transporte como alternativa para ajudar a combater esses problemas.
            </p>
        </div>
        <div class="img-info img-right">
            <div class="content index"></div>
        </div>
    </section>
    <section class="info down">
        <div class="img-info img-left bg-secondary">
            <div class="content index"></div>
        </div>
        <div class="card-info bg-light font-primary">
            <h2>Metodologia</h2>
            <p>
                Com base nos dados de artigos de teor científico, estamos fazendo uma pesquisa quantitativa e qualitativa de como a implantação da mobilidade elétrica poderia colaborar para solucionar o problema que estamos abordando.
            </p>
            
        </div>
    </section>
</div>
<section class="column-container bg-secondary">
    <h3 class="text-centered">Quem somos?</h3>
    <div class="squad-block">
        <div class="member-container text-centered">
            <div class="member-name">
                <p>
                </p>
            </div>
            <div class="member-photo">
            </div>
            <div class="member-function">
                <p></p>
            </div>
            <div class="member-contact">
                <a href="" class="font-primary">e-mail@email.com</a>
            </div>
        </div>
        <div class="member-container text-centered">
            <div class="member-name">
                <p></p>
            </div>
            <div class="member-photo">
            </div>
            <div class="member-function"></div>
            <div class="member-contact">
                <a href="" class="font-primary">e-mail@email.com</a>
            </div>
        </div>
        <div class="member-container text-centered">
            <div class="member-name">
                <p>
                </p>
            </div>
            <div class="member-photo">
            </div>
            <div class="member-function">
                <p></p>
            </div>
            <div class="member-contact"><a href="" class="font-primary">e-mail@email.com</a></div>
        </div>
    </div>
    <div class="squad-block">
        <div class="member-container text-centered">
            <div class="member-name">
                <p></p>
            </div>
            <div class="member-photo">
            </div>
            <div class="member-function">
                <p></p>
            </div>
            <div class="member-contact"><a href="" class="font-primary">e-mail@email.com</a></div>
        </div>
        <div class="member-container text-centered">
            <div class="member-name">
                <p></p>
            </div>
            <div class="member-photo">
            </div>
            <div class="member-function">
                <p></p>
            </div>
            <div class="member-contact">
                <a href="" class="font-primary">e-mail@email.com</a>
            </div>
        </div>
        <div class="member-container text-centered">
            <div class="member-name">
                <p></p>
            </div>
            <div class="member-photo">
            </div>
            <div class="member-function">
                <p></p>
            </div>
            <div class="member-contact">
                <a href="" class="font-primary">e-mail@email.com</a>
            </div>
        </div>
    </div>
</section>