<div class="main-container">

    <div class="content bg-content">
        <div class="content-header">
            <h2>Nosso trabalho</h2>
        </div>
        <div class="content-section video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/NuOgmHbgKCU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="content-section about">
            <p class="about-text"> De olho no futuro, na tecnologia e no desenvolvimento sustentável, este site foi construído para
                divulgar o projeto de iniciação cientifica desenvolvido pelos alunos da FIAP, que em observância com
                os principais acontecimentos do Mundo, buscaram aproximar um tema de grande relevância para a
                posteridade, meio-ambiente e saúde, com a realidade brasileira, algo que já vem sendo feito pelos
                países mais desenvolvidos que comprometidos com a ODS estão fazendo mudanças significativas de
                infraestrutura e estímulos para o aumento da frota de veículos elétricos por todo o seu território,
                visando atender as metas e objetivos da Agenda 2030. A mobilidade elétrica, retorna com grande força
                no cenário mundial (agora com tecnologias mais avançadas e novas performances de desempenho,
                prolongando a autonomia das baterias, bem como otimizando o tempo de carregamento) para contribuir
                com a redução dos poluentes atmosféricos que potencializam o surgimento de doenças, como asma, por
                exemplo, e são os principais causadores do efeito estufa e aquecimento global.</p>

                <p class="about-text">Nosso objetivo é oferecer uma alternativa sustentável aos problemas observados pela constante emissão de tóxicos por veículos convencionais, atendendo ao apelo da ODS 2030 e contribuindo para a melhora da saúde pública.</p>
        </div>

    </div>
</div>
